<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.face.mapper.IgcsIGatewayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.face.model.IgcsIGatewayInfo" >
    <id column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <result column="gateway_name" property="gatewayName" jdbcType="VARCHAR" />
    <result column="in_date" property="inDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="last_connect_time" property="lastConnectTime" jdbcType="TIMESTAMP" />
    <result column="gateway_addr" property="gatewayAddr" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="park_id" property="parkId" jdbcType="VARCHAR" />
    <result column="gateway_pic" property="gatewayPic" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gateway_id, gateway_name, in_date, status, last_connect_time, gateway_addr, user_id, 
    park_id, gateway_pic, remark, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.face.model.IgcsIGatewayInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_i_gatewayinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_i_gatewayinfo
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from igcs_i_gatewayinfo
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.face.model.IgcsIGatewayInfoExample" >
    delete from igcs_i_gatewayinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.face.model.IgcsIGatewayInfo" >
    insert into igcs_i_gatewayinfo (gateway_id, gateway_name, in_date, 
      status, last_connect_time, gateway_addr, 
      user_id, park_id, gateway_pic, 
      remark, type)
    values (#{gatewayId,jdbcType=VARCHAR}, #{gatewayName,jdbcType=VARCHAR}, #{inDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{lastConnectTime,jdbcType=TIMESTAMP}, #{gatewayAddr,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{parkId,jdbcType=VARCHAR}, #{gatewayPic,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.face.model.IgcsIGatewayInfo" >
    insert into igcs_i_gatewayinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="gatewayName != null" >
        gateway_name,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastConnectTime != null" >
        last_connect_time,
      </if>
      <if test="gatewayAddr != null" >
        gateway_addr,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="parkId != null" >
        park_id,
      </if>
      <if test="gatewayPic != null" >
        gateway_pic,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayName != null" >
        #{gatewayName,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastConnectTime != null" >
        #{lastConnectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gatewayAddr != null" >
        #{gatewayAddr,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="parkId != null" >
        #{parkId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayPic != null" >
        #{gatewayPic,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.face.model.IgcsIGatewayInfoExample" resultType="java.lang.Integer" >
    select count(*) from igcs_i_gatewayinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update igcs_i_gatewayinfo
    <set >
      <if test="record.gatewayId != null" >
        gateway_id = #{record.gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="record.gatewayName != null" >
        gateway_name = #{record.gatewayName,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        in_date = #{record.inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.lastConnectTime != null" >
        last_connect_time = #{record.lastConnectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gatewayAddr != null" >
        gateway_addr = #{record.gatewayAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.parkId != null" >
        park_id = #{record.parkId,jdbcType=VARCHAR},
      </if>
      <if test="record.gatewayPic != null" >
        gateway_pic = #{record.gatewayPic,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update igcs_i_gatewayinfo
    set gateway_id = #{record.gatewayId,jdbcType=VARCHAR},
      gateway_name = #{record.gatewayName,jdbcType=VARCHAR},
      in_date = #{record.inDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      last_connect_time = #{record.lastConnectTime,jdbcType=TIMESTAMP},
      gateway_addr = #{record.gatewayAddr,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      park_id = #{record.parkId,jdbcType=VARCHAR},
      gateway_pic = #{record.gatewayPic,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.face.model.IgcsIGatewayInfo" >
    update igcs_i_gatewayinfo
    <set >
      <if test="gatewayName != null" >
        gateway_name = #{gatewayName,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastConnectTime != null" >
        last_connect_time = #{lastConnectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gatewayAddr != null" >
        gateway_addr = #{gatewayAddr,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="parkId != null" >
        park_id = #{parkId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayPic != null" >
        gateway_pic = #{gatewayPic,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
    </set>
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.face.model.IgcsIGatewayInfo" >
    update igcs_i_gatewayinfo
    set gateway_name = #{gatewayName,jdbcType=VARCHAR},
      in_date = #{inDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      last_connect_time = #{lastConnectTime,jdbcType=TIMESTAMP},
      gateway_addr = #{gatewayAddr,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      park_id = #{parkId,jdbcType=VARCHAR},
      gateway_pic = #{gatewayPic,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT}
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
  </update>
</mapper>