<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.face.mapper.IgcsCoperationGroupMapper" >
  <resultMap id="BaseResultMap" type="com.face.model.IgcsCoperationGroup" >
    <id column="operate_group_id" property="operateGroupId" jdbcType="VARCHAR" />
    <result column="operate_group_name" property="operateGroupName" jdbcType="VARCHAR" />
    <result column="greenhouse_id" property="greenhouseId" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="in_date" property="inDate" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    operate_group_id, operate_group_name, greenhouse_id, update_user_id, in_date, update_time, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.face.model.IgcsCoperationGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_c_operation_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_c_operation_group
    where operate_group_id = #{operateGroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from igcs_c_operation_group
    where operate_group_id = #{operateGroupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.face.model.IgcsCoperationGroupExample" >
    delete from igcs_c_operation_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.face.model.IgcsCoperationGroup" >
    insert into igcs_c_operation_group (operate_group_id, operate_group_name, 
      greenhouse_id, update_user_id, in_date, 
      update_time, remark)
    values (#{operateGroupId,jdbcType=VARCHAR}, #{operateGroupName,jdbcType=VARCHAR}, 
      #{greenhouseId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{inDate,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.face.model.IgcsCoperationGroup" >
    insert into igcs_c_operation_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operateGroupId != null" >
        operate_group_id,
      </if>
      <if test="operateGroupName != null" >
        operate_group_name,
      </if>
      <if test="greenhouseId != null" >
        greenhouse_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operateGroupId != null" >
        #{operateGroupId,jdbcType=VARCHAR},
      </if>
      <if test="operateGroupName != null" >
        #{operateGroupName,jdbcType=VARCHAR},
      </if>
      <if test="greenhouseId != null" >
        #{greenhouseId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.face.model.IgcsCoperationGroupExample" resultType="java.lang.Integer" >
    select count(*) from igcs_c_operation_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update igcs_c_operation_group
    <set >
      <if test="record.operateGroupId != null" >
        operate_group_id = #{record.operateGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.operateGroupName != null" >
        operate_group_name = #{record.operateGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.greenhouseId != null" >
        greenhouse_id = #{record.greenhouseId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        in_date = #{record.inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update igcs_c_operation_group
    set operate_group_id = #{record.operateGroupId,jdbcType=VARCHAR},
      operate_group_name = #{record.operateGroupName,jdbcType=VARCHAR},
      greenhouse_id = #{record.greenhouseId,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      in_date = #{record.inDate,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.face.model.IgcsCoperationGroup" >
    update igcs_c_operation_group
    <set >
      <if test="operateGroupName != null" >
        operate_group_name = #{operateGroupName,jdbcType=VARCHAR},
      </if>
      <if test="greenhouseId != null" >
        greenhouse_id = #{greenhouseId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where operate_group_id = #{operateGroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.face.model.IgcsCoperationGroup" >
    update igcs_c_operation_group
    set operate_group_name = #{operateGroupName,jdbcType=VARCHAR},
      greenhouse_id = #{greenhouseId,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      in_date = #{inDate,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where operate_group_id = #{operateGroupId,jdbcType=VARCHAR}
  </update>
</mapper>