<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.face.mapper.IgcsIsensorinfoMapper" >
  <resultMap id="BaseResultMap" type="com.face.model.IgcsIsensorinfo" >
    <id column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <id column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <id column="sensor_type_code" property="sensorTypeCode" jdbcType="VARCHAR" />
    <id column="sensor_id" property="sensorId" jdbcType="VARCHAR" />
    <result column="in_date" property="inDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="last_connect_time" property="lastConnectTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gateway_id, node_id, sensor_type_code, sensor_id, in_date, status, last_connect_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.face.model.IgcsIsensorinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_i_sensorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.face.model.IgcsIsensorinfoKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_i_sensorinfo
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and sensor_type_code = #{sensorTypeCode,jdbcType=VARCHAR}
      and sensor_id = #{sensorId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.face.model.IgcsIsensorinfoKey" >
    delete from igcs_i_sensorinfo
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and sensor_type_code = #{sensorTypeCode,jdbcType=VARCHAR}
      and sensor_id = #{sensorId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.face.model.IgcsIsensorinfoExample" >
    delete from igcs_i_sensorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.face.model.IgcsIsensorinfo" >
    insert into igcs_i_sensorinfo (gateway_id, node_id, sensor_type_code, 
      sensor_id, in_date, status, 
      last_connect_time)
    values (#{gatewayId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{sensorTypeCode,jdbcType=VARCHAR}, 
      #{sensorId,jdbcType=VARCHAR}, #{inDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{lastConnectTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.face.model.IgcsIsensorinfo" >
    insert into igcs_i_sensorinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="sensorTypeCode != null" >
        sensor_type_code,
      </if>
      <if test="sensorId != null" >
        sensor_id,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastConnectTime != null" >
        last_connect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="sensorTypeCode != null" >
        #{sensorTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="sensorId != null" >
        #{sensorId,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastConnectTime != null" >
        #{lastConnectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.face.model.IgcsIsensorinfoExample" resultType="java.lang.Integer" >
    select count(*) from igcs_i_sensorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update igcs_i_sensorinfo
    <set >
      <if test="record.gatewayId != null" >
        gateway_id = #{record.gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null" >
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.sensorTypeCode != null" >
        sensor_type_code = #{record.sensorTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sensorId != null" >
        sensor_id = #{record.sensorId,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        in_date = #{record.inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.lastConnectTime != null" >
        last_connect_time = #{record.lastConnectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update igcs_i_sensorinfo
    set gateway_id = #{record.gatewayId,jdbcType=VARCHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      sensor_type_code = #{record.sensorTypeCode,jdbcType=VARCHAR},
      sensor_id = #{record.sensorId,jdbcType=VARCHAR},
      in_date = #{record.inDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      last_connect_time = #{record.lastConnectTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.face.model.IgcsIsensorinfo" >
    update igcs_i_sensorinfo
    <set >
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastConnectTime != null" >
        last_connect_time = #{lastConnectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and sensor_type_code = #{sensorTypeCode,jdbcType=VARCHAR}
      and sensor_id = #{sensorId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.face.model.IgcsIsensorinfo" >
    update igcs_i_sensorinfo
    set in_date = #{inDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      last_connect_time = #{lastConnectTime,jdbcType=TIMESTAMP}
    where gateway_id = #{gatewayId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and sensor_type_code = #{sensorTypeCode,jdbcType=VARCHAR}
      and sensor_id = #{sensorId,jdbcType=VARCHAR}
  </update>
</mapper>