<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.face.mapper.IgcsCthresholdMapper" >
  <resultMap id="BaseResultMap" type="com.face.model.IgcsCthreshold" >
    <id column="threshold_id" property="thresholdId" jdbcType="VARCHAR" />
    <result column="threshold_group_id" property="thresholdGroupId" jdbcType="VARCHAR" />
    <result column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <result column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <result column="sensor_type_code" property="sensorTypeCode" jdbcType="VARCHAR" />
    <result column="sensor_id" property="sensorId" jdbcType="VARCHAR" />
    <result column="threshold_type_code" property="thresholdTypeCode" jdbcType="VARCHAR" />
    <result column="threshold_parameter" property="thresholdParameter" jdbcType="VARCHAR" />
    <result column="compara_type" property="comparaType" jdbcType="VARCHAR" />
    <result column="threshold_value" property="thresholdValue" jdbcType="INTEGER" />
    <result column="in_date" property="inDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    threshold_id, threshold_group_id, gateway_id, node_id, sensor_type_code, sensor_id, 
    threshold_type_code, threshold_parameter, compara_type, threshold_value, in_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.face.model.IgcsCthresholdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_c_threshold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from igcs_c_threshold
    where threshold_id = #{thresholdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from igcs_c_threshold
    where threshold_id = #{thresholdId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.face.model.IgcsCthresholdExample" >
    delete from igcs_c_threshold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.face.model.IgcsCthreshold" >
    insert into igcs_c_threshold (threshold_id, threshold_group_id, gateway_id, 
      node_id, sensor_type_code, sensor_id, 
      threshold_type_code, threshold_parameter, 
      compara_type, threshold_value, in_date
      )
    values (#{thresholdId,jdbcType=VARCHAR}, #{thresholdGroupId,jdbcType=VARCHAR}, #{gatewayId,jdbcType=VARCHAR}, 
      #{nodeId,jdbcType=VARCHAR}, #{sensorTypeCode,jdbcType=VARCHAR}, #{sensorId,jdbcType=VARCHAR}, 
      #{thresholdTypeCode,jdbcType=VARCHAR}, #{thresholdParameter,jdbcType=VARCHAR}, 
      #{comparaType,jdbcType=VARCHAR}, #{thresholdValue,jdbcType=INTEGER}, #{inDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.face.model.IgcsCthreshold" >
    insert into igcs_c_threshold
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thresholdId != null" >
        threshold_id,
      </if>
      <if test="thresholdGroupId != null" >
        threshold_group_id,
      </if>
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="sensorTypeCode != null" >
        sensor_type_code,
      </if>
      <if test="sensorId != null" >
        sensor_id,
      </if>
      <if test="thresholdTypeCode != null" >
        threshold_type_code,
      </if>
      <if test="thresholdParameter != null" >
        threshold_parameter,
      </if>
      <if test="comparaType != null" >
        compara_type,
      </if>
      <if test="thresholdValue != null" >
        threshold_value,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thresholdId != null" >
        #{thresholdId,jdbcType=VARCHAR},
      </if>
      <if test="thresholdGroupId != null" >
        #{thresholdGroupId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="sensorTypeCode != null" >
        #{sensorTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="sensorId != null" >
        #{sensorId,jdbcType=VARCHAR},
      </if>
      <if test="thresholdTypeCode != null" >
        #{thresholdTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="thresholdParameter != null" >
        #{thresholdParameter,jdbcType=VARCHAR},
      </if>
      <if test="comparaType != null" >
        #{comparaType,jdbcType=VARCHAR},
      </if>
      <if test="thresholdValue != null" >
        #{thresholdValue,jdbcType=INTEGER},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.face.model.IgcsCthresholdExample" resultType="java.lang.Integer" >
    select count(*) from igcs_c_threshold
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update igcs_c_threshold
    <set >
      <if test="record.thresholdId != null" >
        threshold_id = #{record.thresholdId,jdbcType=VARCHAR},
      </if>
      <if test="record.thresholdGroupId != null" >
        threshold_group_id = #{record.thresholdGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.gatewayId != null" >
        gateway_id = #{record.gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null" >
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.sensorTypeCode != null" >
        sensor_type_code = #{record.sensorTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sensorId != null" >
        sensor_id = #{record.sensorId,jdbcType=VARCHAR},
      </if>
      <if test="record.thresholdTypeCode != null" >
        threshold_type_code = #{record.thresholdTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.thresholdParameter != null" >
        threshold_parameter = #{record.thresholdParameter,jdbcType=VARCHAR},
      </if>
      <if test="record.comparaType != null" >
        compara_type = #{record.comparaType,jdbcType=VARCHAR},
      </if>
      <if test="record.thresholdValue != null" >
        threshold_value = #{record.thresholdValue,jdbcType=INTEGER},
      </if>
      <if test="record.inDate != null" >
        in_date = #{record.inDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update igcs_c_threshold
    set threshold_id = #{record.thresholdId,jdbcType=VARCHAR},
      threshold_group_id = #{record.thresholdGroupId,jdbcType=VARCHAR},
      gateway_id = #{record.gatewayId,jdbcType=VARCHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      sensor_type_code = #{record.sensorTypeCode,jdbcType=VARCHAR},
      sensor_id = #{record.sensorId,jdbcType=VARCHAR},
      threshold_type_code = #{record.thresholdTypeCode,jdbcType=VARCHAR},
      threshold_parameter = #{record.thresholdParameter,jdbcType=VARCHAR},
      compara_type = #{record.comparaType,jdbcType=VARCHAR},
      threshold_value = #{record.thresholdValue,jdbcType=INTEGER},
      in_date = #{record.inDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.face.model.IgcsCthreshold" >
    update igcs_c_threshold
    <set >
      <if test="thresholdGroupId != null" >
        threshold_group_id = #{thresholdGroupId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        gateway_id = #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="sensorTypeCode != null" >
        sensor_type_code = #{sensorTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="sensorId != null" >
        sensor_id = #{sensorId,jdbcType=VARCHAR},
      </if>
      <if test="thresholdTypeCode != null" >
        threshold_type_code = #{thresholdTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="thresholdParameter != null" >
        threshold_parameter = #{thresholdParameter,jdbcType=VARCHAR},
      </if>
      <if test="comparaType != null" >
        compara_type = #{comparaType,jdbcType=VARCHAR},
      </if>
      <if test="thresholdValue != null" >
        threshold_value = #{thresholdValue,jdbcType=INTEGER},
      </if>
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where threshold_id = #{thresholdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.face.model.IgcsCthreshold" >
    update igcs_c_threshold
    set threshold_group_id = #{thresholdGroupId,jdbcType=VARCHAR},
      gateway_id = #{gatewayId,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      sensor_type_code = #{sensorTypeCode,jdbcType=VARCHAR},
      sensor_id = #{sensorId,jdbcType=VARCHAR},
      threshold_type_code = #{thresholdTypeCode,jdbcType=VARCHAR},
      threshold_parameter = #{thresholdParameter,jdbcType=VARCHAR},
      compara_type = #{comparaType,jdbcType=VARCHAR},
      threshold_value = #{thresholdValue,jdbcType=INTEGER},
      in_date = #{inDate,jdbcType=TIMESTAMP}
    where threshold_id = #{thresholdId,jdbcType=VARCHAR}
  </update>
</mapper>